#mainNav {
  min-height: 56px;
  background-color: #f9f9f9;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: 0.9rem 0;
    display: inline-block;
    width: 25%;
    img {
      width: 100%;
      height: auto;
    }
    .black {
      display: none;
    }
    .white {
      display: block;
    }
  }
  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  #lang-btn {
    right: 30px;
    background: rgba(92, 92, 92, 0.3);
    border-radius: 2px;
    padding: 0px 6px;
    border: none;
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #d2d2d2;
      margin: 2px;
      &.active {
        color: $white;
      }
    }
    &:focus{
      outline: none;
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.6s ease-in-out;
    .navbar-brand {
      padding: 0.5rem 0;
      color: fade-out($white, 0.5);
    }
    .nav-link {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      transition: none;
      padding: 0px;
      margin: 2rem 1.5rem;
      color: white;
      &:hover:after {
        width: 100%;
        background: #f9f9f9;
      }
      &:active {
        color: white;
      }
      &:after {
        content: '';
        display: block;
        margin: auto;
        height: 1.2px;
        width: 0px;
        background: transparent;
        transition: width 0.5s ease, background-color 0.5s ease;
      }
    }
    &.navbar-shrink {
      background-color: #f9f9f9;
      .navbar-brand {
        color: $black;
      }
      .nav-link {
        color: $black;
        //padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $primary;
        }
        &:active {
          color: darken($primary, 15%);
        }
        &.active {
          color: $primary;
          outline: none;
          border-bottom: 0.25rem solid $primary;
        }
      }
      #lang-btn {
        p {
          color: $gray-600;
          &.active {
            color: $white;
          }
        }
      }
    }
  }
}
