.reviews-section {
  min-height: 100vh;
  height: auto;
  //padding-top: 5.85rem;
  box-sizing: content-box;
  justify-content: center;
  p {
    margin-bottom: 5rem;
  }
  .carousel {
    .carousel-inner {
      padding: 0px;
      .card {
        background: #ffffff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        border: none;
        padding: 14px;
        hr {
          height: auto;
          width: 1px;
          background: #f0f0f0;
        }
        .left-side {
          padding: 0px 14px 0px 0px;
          p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 96px;
            line-height: 96px;
            text-transform: capitalize;
            color: #76bde5;
            margin: 0px 0px 96px 0px;
          }
        }
        .card-text {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #707070;
        }
      }
    }
    .carousel-indicators {
      margin-bottom: 24px;
      margin-left: 5%;
      margin-right: 5%;
      position: relative;
      li {
        margin: 0px 14px;
        min-width: 60px;
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
  @media (min-width: 992px) {
    box-sizing: border-box;
    .carousel{
      .carousel-indicators {
        margin-left: 15%;
        margin-right: 15%;
      }
    }
    .carousel-inner {
      padding: 0px 10%;
      .card {
        .left-side {
          padding: 0px 23px;
          p {
            margin: 0px !important;
          }
        }
      }
    }
  }
}
